<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Sistema de Registro Central de Monitoreo</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/signin.css">
	<link rel="stylesheet" href="/static/css/justified-nav.css">
</head>
<body>
  <header>
	{% block encabezado %}{% endblock %}
	<div class='container'>
		<div class='masthead'>
			<ul class='nav nav-justified'>
				<li class='active'><a href='#'>Inicio</a></li> 
				<li><a href='#'>Eventos</a></li>
				<li><a href='#'>Claves</a></li>
				<li><a href='#'>Sucursales</a></li>
				<li><a href='#'>Empresas</a></li>
				<li><a href='#'>Sistema</a></li>
				<li><a href='#'></a></li>
			</ul>
		</div>
	</div>
  </header>	
  <section>
	
  </section>
  <footer>
	<p>Sistema de Registro de Eventos para Centrales de Monitoreo &copy;2014</p>
  </footer>
</body>
</html>