<!DOCTYPE html">
<html lang="es">
<head>
	<title>ingresar</title>  
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/signin.css">
</head>
<body>    
	<div class='container'>
		{% block contenido %}     
		<form class='form-signin' id='formulario' name='formulario' method='POST' action=''> {% csrf_token %}
			<h2 class='form-signin-heading'>Control Acceso a RegEvents</h2>
			<input type="text" placeholder='USUARIO' class='form-control' name="username">
			<input type='password' placeholder='CLAVE' class='form-control' name='password'>
			
			<p><input class='btn btn-lg btn-primary btn-block' type="submit" value="Iniciar Sesión"></p>
		</form>
	 	{% endblock %}  
	</div>
</body>
</html>
