{% extends 'base.html' %}  

<!DOCTYPE html>

<html lang="es">
<head>
	{% block title %} Listado de Sucursales para Eventos {% endblock %}
</head>
<body>   
	{% block contenido %}
	<div class="page-header">
		<h3></h3>
    </div>

	<div class='container table-responsive'>
		<h2>Listado de Sucursales para Eventos</h2> 
		<table class='table table-bordered'>
			<tr>
				<th>CÓDIGO</th>
				<th>NOMBRE</th>
				<th>ACTIVA</th>
			</tr>
			{% for sucursal in object_list %}
			<tr>
				<td>{{sucursal.codigo}}</td>
				<td>{{sucursal.sucursal}}</td>
				<td>{{sucursal.activa}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endblock %}
</body>
</html>