<!DOCTYPE html>
{% extends 'base.html' %} 

<html lang='es'>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"> 
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/signin.css">	
	</head> 
	<body>
		{% block contenido %}
		<div class='container'>
			<div class='alert alert-danger'>
				<strong>¡ATENCIÓN! </strong> Tu cuenta de usuario no está activa, favor contactarse con el administrador para resolver el problema.
			</div>
		</div>
		{% endblock %}
	</body>
</html>