{% extends 'base.html' %}
<DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Bienvenido</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/signin.css">
	<link rel="stylesheet" href="/static/css/justified-nav.css">
</head>           
<body>
	{% block contenido %}
	
	<div class="jumbotron">
      <div class="container">
        <h1>Bienvenido a RegEvents</h1>
        <p>Sistema de Registro de Eventos y anomalías para Centrales de Monitoreo y Seguridad. Además, RegEvents, permite mantener en registro los colaboradores de la empresa para su posterior identificación en los distintos niveles de seguridad que pudiera tener su Empresa.</p>
      </div>
	</div>
	
	
	{% endblock %}
	<!-- Bootstrap core JavaScript================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>	
</body>
</html>