{% extends 'base.html' %}
<DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Bienvenido</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/signin.css">
	<link rel="stylesheet" href="/static/css/justified-nav.css">
</head>           
<body>
	{% block contenido %}
	<div class='container'>
		<div class='jumbotron'>
			<div class='row'>
				<div class='col-md-3'>
					<a href='#' class='thumbnail'>
						<img data-src='holder.js/100%x180' alt='Profile Picture'>
					</a>
				</div>
				<div class='col-md-6'>
				  <h3>Bienvenido</h3>
		  			<p class='leader'>Hola {{usuario.username|upper}}, tu último login fue   {{usuario.last_login}}.</p>   
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	<!-- Bootstrap core JavaScript================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>	
</body>
</html>